:root {
    --primaryColor: rgb(0, 97, 173);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page{
    height: 100vh;
}

.login-box-msg {
    color: var(--primaryColor);
    text-align: center;
}

.admin-icon {
    width: 70px;
    margin: 0 auto 20px auto;
}

.login-page .login-box{
    display: flex;
    height: 100%;
}

    .login-page .login-box .login-logo {
        flex: 1;
        position: relative;
        overflow: hidden;
        /* background: linear-gradient(rgba(0, 97, 173, 0.85), rgba(0, 97, 173, 1)); */
        background-image: url('/img/login/fondo.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 20px;
        flex-direction: column;
    }

.login-page .login-box .login-logo .logo {
    width: 120px;
    position: relative;
    z-index: 1;
}

.login-page .login-box .login-logo .description {
    color: white;
    font-size: 1.1rem;
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    position: relative;
    z-index: 1;
}

.login-page .login-box .login-logo .circle-color {
    width: 1000px;
    height: 1000px;
    border-radius: 600px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 55%;
    right: 0%;
    z-index: 0;
}

.login-page .login-box .card {
    flex: 1;
    padding: 20px;
}

.login-page .login-box .card .login-card-body{
    max-width: 500px;
    min-width: 350px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.remember{
    font-size: .9rem;
    color: rgb(0, 97, 173);
    cursor: pointer;
}

.form-control {
    border-width: 0 0 2px 0;
    border-radius: 0;
}

.form-control:focus{
    outline: 0;
    box-shadow: none;
    border-color: rgb(0, 97, 173);;
}

.form-control:focus ~ .input-group-text{
    border-color: rgb(0, 97, 173);
    background: linear-gradient(#e66465, #9198e5);
}

.input-group-text {
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-radius: 0;    
}

.input-group-text {
    font-size: 1.2rem;
}